@charset "utf-8";
/* CSS Document */

div.formulario{ width:350px; height:300px; background-color:#FFF; border-style:double; border-color:#000; margin-left:500px; margin-top:200px}
img {width:320px; height:100px; margin-top:5px; margin-left:15px}
body { background-image:url(../Imagens/red-wallpaper.jpg)}
table { width:100%; margin-top:25px; height:150px}