@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../Imagens/bf4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
img{
	height:300px;
	width:300px;
}
table{
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	font-size:18px;	
	margin-left:20px;
	margin-top:50px;
	height:600px;
	width:500px;
}
li{
	left:50%;
}
p{
	margin-left:50px;
}
submit{
	color:#FFF;
	background-color:#666;
	border:none;	
}