body{
	background-color: rgb(220,220,220);
}
h2{
	text-align: center;
	color: rgb(0,0,255);
}
li{
	list-style: none;
	display: inline;
	background-color: rgb(50,50,50);
	color: rgb(255,255,255);
	padding: 10px 40px;
}
li:hover{
	background-color: rgb(170,170,170);
}
a, a:hover{
	text-decoration: none;
}